@import "tailwindcss";
@import "@heroui/styles"; 

.primary {
  color: #2D4F1E;
} 
.secondary {
  color: #6F4E37;
}
.dark{
  color: #1A1C18;
}
.gray {
  color: #73796D;
}
.light-dark {
  color: #43493E;
}
